.buy-card {
    max-width: 900px;
    margin: auto;
    border-radius: 15px;
}

.game-img {
    width: 100%;
    max-width: 280px;
    border-radius: 12px;
    object-fit: cover;
}

.price {
    font-size: 1.4rem;
    margin-top: 15px;
}
