body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    font-weight: 500;
}

.card {
    border-radius: 1rem;
}

h2 {
    font-weight: 800 !important;
}

label {
    font-weight: 600 !important;
}

.btn-primary {
    background-color: #ff5722 !important;
    border-color: #ff5722 !important;
}

.btn-primary:hover {
    background-color: #e64a19 !important;
    border-color: #e64a19 !important;
}
